@import '~@angular/material/theming';
@include mat-core();

@mixin slitherine() {
    $slitherine-primary: mat-palette($mat-green, 700);
    $slitherine-accent: mat-palette($mat-green, 200);
    $slitherine-warn: mat-palette($mat-red);
    $slitherine-theme: mat-light-theme($slitherine-primary, $slitherine-accent,$slitherine-warn);
    @include angular-material-theme($slitherine-theme);
    
    $primary: mat-color($slitherine-primary);
    $accent: mat-color($slitherine-accent);
    $warn: mat-color($slitherine-warn);

    .profile-container{
        background-color: $primary;
    }
}