@import '~@angular/material/theming';
@include mat-core();

$gryffindor-primary: mat-palette($mat-red, 800);
$gryffindor-accent: mat-palette($mat-red, 200);
$gryffindor-warn: mat-palette($mat-red);
$gryffindor-theme: mat-light-theme($gryffindor-primary, $gryffindor-accent, $gryffindor-warn);


$slitherine-primary: mat-palette($mat-green, 700);
$slitherine-accent: mat-palette($mat-green, 200);
$slitherine-warn: mat-palette($mat-red);
$slitherine-theme: mat-light-theme($slitherine-primary, $slitherine-accent,$slitherine-warn);

.slitherine-theme{
    @include angular-material-theme($slitherine-theme);
}

.gryffindor-theme{
    @include angular-material-theme($gryffindor-theme);
}